body { 
    font-family: 'Orbitron', sans-serif; /* Fonte futurista */
    margin: 20px;
    text-align: center; /* Centraliza todo o conteúdo */
}

h1 {
    color: #333;
    font-size: 2.5em; /* Aumenta o tamanho do título */
}

form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
    padding: 5px;
}

button {
    font-family: inherit; /* Para garantir que os botões usem a mesma fonte */
    padding: 5px 10px;
    background-color: #4CAF50; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Cursor em forma de mão */
    transition: background-color 0.3s; /* Transição suave */
    margin: 0 5px; /* Espaçamento entre os botões */
}

button:hover {
    background-color: purple; /* Cor do botão ao passar o mouse */
}

table {
    width: 75%; /* Diminuindo o comprimento da tabela para 75% da tela */
    max-width: 800px; /* Define uma largura máxima */
    margin: 20px auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse; /* Mantém as bordas colapsadas */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

